*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1b1e22;
    color: white;
}

div.gallery {
    margin: 5px;
    border: 1px solid #5e5b5b;
    float: left;
    width: 350px;
}

/* div.gallery:hover {
border: 1px solid #777;
} */

div.gallery img {
width: 100%;
height: auto;
}

div.desc {
padding: 15px;
text-align: center;
}